@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
.anim-scale {
	display: inline-block;
	animation: scaleA 30s infinite normal;
}
div.container {
	animation: fadeOut 30s ;
}
@keyframes scaleA {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	45% {
		opacity: 100;
	}
	50% {
		opacity: 100;
	}
	85% {
		opacity: 100;
	}
	
}

body {
	background-color: #000;
	color: gold;
	font-family: "Ubuntu";
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 2em;
	line-height: 2;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-align: center;
}

span {
	font-size: 149px;
	font-weight: bold;
	background-image: linear-gradient(
		135deg,
		#fff89e 0,
		#cb9b51 22%,
		#f6e27a 45%,
		#fff89e 50%,
		#f6e27a 55%,
		#cb9b51 78%,
		#fff89e 100%
	);
	color: transparent;
	-webkit-background-clip: text;
	
}


.span1 {
	font-size: 54px;
	font-weight: bold;
	background-image: linear-gradient(
		135deg,
		#fff89e 0,
		#cb9b51 22%,
		#f6e27a 45%,
		#fff89e 50%,
		#f6e27a 55%,
		#cb9b51 78%,
		#fff89e 100%
	);
	color: transparent;
	-webkit-background-clip: text;
	
}




.span2 {
	font-size: 54px;
	font-weight: bold;
	background-image: linear-gradient(
		135deg,
		#fff89e 0,
		#cb9b51 22%,
		#f6e27a 45%,
		#fff89e 50%,
		#f6e27a 55%,
		#cb9b51 78%,
		#fff89e 100%
	);
	color: transparent;
	-webkit-background-clip: text;
	
}


.container {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 75%;
}


.container1 {
	position: absolute;
	top: 64%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 75%;
}

.container0 {
	position: absolute;
	top: 31%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 75%;
}
.container3 {
	position: absolute;
	top: 78%;
	left: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 75%;
}
div.container0 {
	animation: fadeOut 30s ;
}

div.container1 {
	animation: fadeOut 30s ;
}

div.container3 {
	animation: fadeOut 30s ;
}

.custom-btn {
	width: 219px;
    height: 103px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 900;
	font-style: normal;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
	  text-decoration: none;
	background: transparent;
	cursor: pointer;
	position: relative;
	display: inline-block;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid #ba6;
  }
  .custom-btn:active{
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
  }
  
  /* 1 */
  .btn-1{
	backface-visibility: hidden;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background: linear-gradient(180deg,#fea 0%,#dc8 49%,#a95 51%,#dc8 100%);
	border-radius: 5px;
	text-align: center;
	font-size: 43px;
  }